

<opciones class="contenedor" role="group" aria-label="Basic example">
    <nav style="display: flex; padding: 5px; margin: 100px;" >
        
        <button style="font-size: larger; margin-inline-end: 5px;">
            <a href="{% url 'inicio' %}">Página de Inicio</a>
        </button>
        
        <button style="font-size: larger; margin-inline-end: 5px;">
            <a href="{% url 'contacto' %}">Página de Contacto</a>
        </button>
        <button style="font-size: larger; margin-inline-end: 5px;">
            <a href="{% url 'acerca' %}">Acerca de</a>
        </button>
        
        
    </nav>
    
    
</opciones>
